
<app-login></app-login>
<br>
<br>
<br>

<button (click)="gotoFirstComponent()">Go To FirstComponent</button>
<br>
<button (click)="gotoSecondComponent()">Go To secondComponent</button>

<br>
<button routerLink="./">Go Back</button>
(click)="goBack()"
<br><br>
<router-outlet></router-outlet>